/* * {
    font-family: "Mulish", sans-serif;
    padding: 0%;
    margin: 0%;
    font-style: none;
    list-style: none;
    text-decoration: none;
} */
/* :root {
    --title-color: #b52184;
    --text-color: #312d64;
    --gradiente-colors: #343193;
} */

body {
  background-color: #302c63;
}